
.header-text {
    text-align: center;
}

#row-height {
    height: 100px;
}

.button-spacing {
    margin-top: 15px;
}

.button-color {
    /* background-color: lightseagreen; */
}

#clear {
    margin-left: 30%;
}

#user-submit {
    margin-left: 20%;
}