
.header-text {
    text-align: center;
}

#row-height {
    height: 100px;
}

.button-spacing {
    margin-top: 15px;
}

#clear {
    margin-left: 35%;
}

#user-submit {
    margin-left: 28%;
}

#submit-name {
    margin-left: 25%;
}

#start-button {
    background-color: #007bff;
    color: white;
}

#high-score {
    margin-left: 28%;
}

#go-back {
    margin-left: 25%;
}

#question {
    text-align: center;
}

#correct {
    padding: 20px;
    color: grey;
    text-align: center;
}